
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    font-family: 'Lexend Deca', sans-serif;
    display:grid;
    place-items: center;
    color: white;
    background-color: black;
}
.main{
    width:fit-content;
    height: fit-content;
    justify-content: center;
    display: flex;
    box-sizing: border-box; 
    margin-top: 100px;
    padding:10px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    height:400px;
    width:250px;
    padding: 30px;
    border-top-left-radius: 10px;   
    border-bottom-left-radius: 10px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    height:400px;
    width:250px;
    padding: 30px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    height:400px;
    width:250px;
    padding: 30px;
    border-top-right-radius: 10px;   
    border-bottom-right-radius: 10px;
}
.but2{
    border-radius:2cm;
    padding: 10px;
    margin-top: 70px;
    background-color: white;
    color: hsl(179, 100%, 13%);
    border: solid 2px white;
}
.but2:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    cursor: pointer;
}
.but{
    border-radius:2cm;
    padding: 10px;
    margin-top: 70px;
    background-color: white;
    color: hsl(31, 77%, 52%);
    border: solid 2px white;
}
.but1{
    border-radius:2cm;
    padding: 10px;
    margin-top: 70px;
    background-color: white;
    color: hsl(184, 100%, 22%);
    border: solid 2px white;
}
.but1:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    cursor: pointer;
}
.but:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    cursor: pointer;
}

h2{
    font-family: 'Big Shoulders Display', sans-serif;
}
@media (max-width:600px) {
    .main{
       flex-direction: column; 
    }
    .sedans{
        border-top-right-radius: 10px;
        border-bottom-left-radius:0px ;
        height: 100%;
        width: 100%;
    }
    .suvs{
        height: 100%;
        width: 100%;
    }
    .luxury{
        border-bottom-left-radius: 10px;
        border-top-right-radius:0px ;
        height: 100%;
        width: 100%;
    }
    body{
    display:grid;
    place-items:inherit;
    }
}
.bor{
    display: flex;
    flex-direction: column;
}
@media (max-width:769px){
    main{
        padding: 20px;
        
    }
}